*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.section-py {
  padding-block: 70px;
}

.list-reset {
  list-style: none; /* Removes bullets/numbers */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}
